<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% load static %}
<link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="wrapper">
  <div id="inner">
    <div id="header">
      <h1><img src="{% static "/images/logo.gif"%}" width="519" height="63" alt="Online Book Store" /></h1>
      <div id="nav"> <a href="#">HOME</a> | <a href="#">view cart</a> | <a href="#">help</a> </div>
      <!-- end nav -->
        <!-- <a href="#"><img src="{% static "/images/header_1.jpg"%}"  width="744" height="245" alt="Harry Potter cd" /></a> <a href="#"> -->
    <!-- end header -->
    <dl id="browse">
        <dt>Full Category Lists</dt>
        {% for genres in all_books %}
            <dd><a href="#">{{ genres.book_genre }}</a></dd>
        {% endfor %}
        <dt>Search Your Favourite Book</dt>
      <dd class="searchform">
        <form action="#" method="get">
          <div>
            <select name="cat">
              <option value="-" selected="selected">CATEGORIES</option>
              <option value="-">------------</option>
            </select>
          </div>
          <div>
            <input name="q" type="text" value="DVD TITLE" class="text" />
          </div>
          <div class="softright">
            <input type="image" src="{% static "/images/btn_search.gif" %} " />
          </div>
        </form>
      </dd>
    </dl>
    <div id="body">
      <div class="inner">
          {% for book in all_books %}
              {% if book.pk|divisibleby:2 %}
                    <div class="leftbox">
                        <a href="{% url 'BuyNow' book.id %}">
                            <img src="{{ book.book_logo }}" width="93" height="95" alt="photo 1" class="left"/>
                        </a>
                        <!-- Previously the above line was same as Below line , but now we have changed it to hardcoded URL using name variable from storefront\urls.py file-->

                        <a href="{% url 'BuyNow' book.id %}">
                            <h3>{{ book.book_Name }}</h3>
                        </a>
                        <p>
                            <b>Price:</b> <b>{{ book.book_price }}</b>
                        </p>
                        <p>
                            <b>Availability:</b> Usually ships within 24 hours
                        </p>
                        <p class="readmore">
                            <a href="{% url 'BuyNow' book.id %}">BUY <b>NOW</b>
                            </a></p>
                        <div class="clear"></div>
                    </div>
                    <!-- end left Box -->
              {% else %}
                    <div class="rightbox">
                        <a href="{% url 'BuyNow' book.id %}">
                            <img src="{{ book.book_logo }}" width="93" height="95" alt="photo 1" class="left"/>
                        </a>
                        <a href="{% url 'BuyNow' book.id %}">
                            <h3>{{ book.book_Name }}</h3>
                        </a>
                        <p>
                            <b>Price:</b> <b>{{ book.book_price }}</b>
                        </p>

                        <p>
                            <b>Availability:</b> Usually ships within 24 hours
                        </p>

                        <p class="readmore">
                            <a href="{% url 'BuyNow' book.id %}">BUY <b>NOW</b></a>
                        </p>
                        <div class="clear"></div>
                    </div>
                    <!-- end right box -->
              {% endif %}
          {% endfor %}
      </div>
      <!-- end .inner -->
    </div>
    <!-- end body -->
    <div class="clear"></div>
    <div id="footer"> @BetaVersion <a href="#">from free website templates</a> &nbsp;
      <div id="footnav"> <a href="#">Legal</a> | <a href="#">Home</a> </div>
      <!-- end footnav -->
    </div>
    <!-- end footer -->
  </div>
  <!-- end inner -->
</div>
<!-- end wrapper -->
</body>
</html>


